src/Escorsenter.xcodeproj/project.xcworkspace/xcshareddata/Escorsenter.xccheckout
src/Escorsenter.xcodeproj/project.xcworkspace/xcuserdata/Franky.xcuserdatad/UserInterfaceState.xcuserstate
src/Escorsenter.xcodeproj/project.xcworkspace/xcuserdata/Franky.xcuserdatad/xcdebugger/Expressions.xcexplist
src/Escorsenter.xcodeproj/xcuserdata/Franky.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
src/Escorsenter.xcodeproj/xcuserdata/Franky.xcuserdatad/xcschemes/Escorsenter.xcscheme
src/Escorsenter.xcodeproj/xcuserdata/Franky.xcuserdatad/xcschemes/xcschememanagement.plist
src/External/ProtocolBuffers.xcodeproj/xcuserdata/Franky.xcuserdatad/xcschemes/xcschememanagement.plist
src/External/ProtocolBuffers/ProtocolBuffers.xcodeproj/xcuserdata/Franky.xcuserdatad/xcschemes/xcschememanagement.plist
